<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Info</title>
</head>
<body>
	<h1><%= title %></h1>
	<% if(typeof greeting !== 'undefined') { %>
		<p><%= greeting %></p>
	<%}%>
	<p><%= message %></p>
	<% if(typeof cinema !== 'undefined') { %>
		<h2>Favorite Cinemas</h2>
			<% for(let place of Object.values(cinema)) { %>
				<ul>
					<li>
						<a href=<%= place.link %>><%= place.name %></a>
					</li>
				</ul>
		<%}%>
	<%} else if(typeof sites !== 'undefined') { %>
		<h2>Favorite websites</h2>
		<% for(let site of Object.values(sites)) { %>
				<ul>
					<li><a href=<%= site %>><%= site %></a></li>
				</ul>			
		<%}%>
	<%}%>
</body>
</html>