<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <script src="/javascripts/RequestManager.js"></script>

</head>
<body>
  <h1><%= headerTitle %></h1>

  <% if (message) { %>
    <p><%= message %></p>
    <a href="<%= addNewRoute %>">Create a new course</a>
	 <a href="/students">Students</a>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <% for (const field in fields) { %>
            <th><%= fields[field] %></th>
          <% } %>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(course => { %>
          <tr>
            <% for (const field in fields) { %>
              <td><%= course[field] %></td>
            <% } %>
            <td>
              <a href="<%= editLinkBase %>/<%= course._id %>">Edit</a>
              <form action="<%= deleteRoute %>" method="POST" style="display: inline;">
                <input type="hidden" name="id" value="<%= course._id %>">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="<%= addNewRoute %>">Create a new course</a>
    <a href="/students">Students</a>
  <% } %>
</body>
</html>
