<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/javascripts/RequestManager.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
	<%- include('../sections/header', { title: 'User form' }) %>
  <h1><%= headerTitle %></h1>

  <% if (message) { %>
    <p><%= message %></p>
	 <div class="actions__container">
		 <a class="btn" href="<%= addNewRoute %>">Create a new course</a>
		 <a class="btn" href="/students">Students</a>
	 </div>
  <% } else { %>
    <table class="table">
      <thead>
        <tr>
          <% for (const field in fields) { %>
            <th><%= fields[field] %></th>
          <% } %>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(course => { %>
          <tr>
            <% for (const field in fields) { %>
              <td class="row"><%= course[field] %></td>
            <% } %>
            <td>
              <a class="btn" href="<%= editLinkBase %>/<%= course._id %>">Edit</a>
           	<button class="btn" onclick="RequestManager.deleteRequest('/courses/<%= course._id %>')">Delete</button>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <a class="btn" href="<%= addNewRoute %>">Create a new course</a>
    <a class="btn" href="/students">Students</a>
  <% } %>
</body>
</html>
