<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="shortcut icon" href="../images/icon-favicon.png" type="image/x-icon">
	<script src="../javascripts/products.js"></script>
	<title>Product list</title>
</head>
<body>
	<div class="wrapper">
		<a class="main-page__btn" href="/"><span class="main-page__btn-span"></span> To The Main Page</a>
		<div class="wrapper__product">
			<% products.forEach(product =>{ %>
				<div class="product__container">
					<div class="product__info">
						<a class="product__link" href="/products/<%=product.id%>"><img src=<%=product.imgSrc%> alt="Flowers Img"></a>
						<p class="product__price"><%= product.price%> $</p>
						<a class="product__link" href="/products/<%=product.id%>"><%= product.title %></a>
					</div>
					<div class="product__actions actions">
						<a href="/products/edit/<%= product.id %>" class="product__btn" >Edit</a>
						<button onclick="deleteProduct(<%=product.id %>)" class="product__btn">Delete</button>
					</div>
				</div>
			<%})%>
		</div>
	</div>
</body>
</html>