<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="<%=product?.id ? '../../stylesheets/style.css' : '../stylesheets/style.css' %>">
	<link rel="stylesheet" href="<%=product?.id ? '../../stylesheets/products/form.css' : '../stylesheets/products/form.css' %>">
	<link rel="shortcut icon" href="../images/icon-favicon.png" type="image/x-icon">
	<script src="/javascripts/RequestManager.js"></script>
	<title><%=product?.id ? 'Edit product' : 'Create product' %></title>
</head>
<body>
	<a class="main-page__btn" href="/"><span class="main-page__btn-span"></span> To The Main Page</a>
	<div class="form-container">
		<h1><%=product?.id ? 'Edit product' : 'Create product' %></h1>
		<form class="form" action="<%=product?.id ? '/products/edit/' + product.id + '?_method=PUT' : '/products/create' %>"
			enctype="multipart/form-data"
			method="POST">
			<div class="form__section">
				<label for="title">Name of the product</label>
				<input 
					type="text" 
					id="title" 
					name="title"
					value="<%=product?.title %>"
					>
			</div>
			<div class="form__section" >
				<label for="amount">Amount of the product</label>
				<input 
					type="number" 
					id="amount" 
					name="amount"
					value="<%=product?.amount %>"
					>
			</div>
			<div class="form__section">
				<label for="price">Price of the product $</label>
				<input 
				type="number" 
				id="price" 
				name="price"
				value="<%=product?.price %>"
				>
			</div>
			<div class="form__section">
				<label for="info">Info about the product</label>
				<textarea 
					id="info" 
					name="info"><%=product?.info %></textarea>
			</div>
			<div class="form__section">
				<label for="including">Components of the product</label>
				<input 
					type="text" 
					id="including" 
					name="including"
					value="<%=product?.including %>"
					>
			</div>
			<div class="form__section">
				<label for="numStems">Numbers of stets</label>
				<input 
					type="number" 
					id="numStems" 
					name="numStems"
					value="<%=product?.numStems %>"
					>
			</div>
			<div class="form__section">
				<label for="img">Upload an image</label>
				<input 
					type="file" 
					id="img" 
					accept="image/*" 
					name="prodImg"
					onchange="onInputFile(event)">
				<img id="imgPreview" src="/upload-.jpg" class="prod-picture" alt="uploaded picture">
			</div>
			<button class="product__btn" type="submit"><%=product?.id ? 'Edit' : 'Create' %></button>
			<a href="/products" class="product__btn">Cancel</a>
		</form>
		<div class="errors">
			<% if (errors?.length > 0) { %>
				<ul>
					<% errors.forEach(function(error) { %>
						<li class="error__msg"><%= error.msg%></li>
					<%	}) %>
				</ul>
				<style>
					<% for(let error of errors) { %>
						#<%=error.path%> {
							border-color: red; 
						}	
					<%}%>
				</style>
			<%	} %>
		</div>
	</div>
</body>
</html>