<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
		<link rel="stylesheet" href="../stylesheets/products/details.css" />
		<link rel="shortcut icon" href="../images/icon-favicon.png" type="image/x-icon">
		<title><%=product.title%></title>
	</head>
	<body>
		<div class="wrapper">
		<a class="main-page__btn" href="/products"><span class="main-page__btn-span"></span> To The Products</a>
			<div class="details-container">
				<div class="product__img">
					<img src="../<%=product.imgSrc %>" alt="Flowers Img"/>
				</div>
				<span class="divider divider-sm"></span>
				<div class="product__info">
					<p class="product__title"><%= product.title %></p>
					<p class="product__price"><%= product.price%> $</p>
					<div class="product__desc">
						<p class="product__text"><%= product.info %></p>
						<span class="divider"></span>
						<h2>What Including?</h2>
						<p class="product__text">
							<%= product.numStems %> stems including <%= product.including %>
						</p>
					</div>
					<span class="divider"></span>
					<div class="product__actions actions">
						<button class="product__btn">Edit</button>
						<button class="product__btn">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<a class="main-page__btn" href="/"><span class="main-page__btn-span"></span> To The Main Page</a>
	</body>
</html>
